<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LocalServerSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Course_Assignment/services/LocalServer"
                binding="basicHttpBinding" bindingConfiguration="LocalServerSoapBinding"
                contract="ServiceReference1.LocalServer" name="LocalServer" />
        </client>
    </system.serviceModel>
</configuration>